@keyframes header-animate {
  0% {
    background-image: url("../img/Materials/Material 1.jpg");
    background-position-y: 5%;
    color: #7dbe03; }
  5% {
    background-image: url("../img/Materials/Material 2.jpg");
    background-position-y: 50%;
    color: #555eca; }
  25% {
    background-image: url("../img/Materials/Material 2.jpg");
    background-position-y: 50%;
    color: #555eca; }
  30% {
    background-image: url("../img/Materials/Material 3.jpg");
    background-position-y: 5%;
    color: #a45807; }
  50% {
    background-image: url("../img/Materials/Material 3.jpg");
    background-position-y: 5%;
    color: #a45807; }
  55% {
    background-image: url("../img/Materials/Material 4.jpg");
    background-position-y: 50%;
    color: #bb767e; }
  75% {
    background-image: url("../img/Materials/Material 4.jpg");
    background-position-y: 50%;
    color: #bb767e; }
  80% {
    background-image: url("../img/Materials/Material 1.jpg");
    background-position-y: 5%;
    color: #7dbe03; }
  100% {
    background-image: url("../img/Materials/Material 1.jpg");
    background-position-y: 5%;
    color: #7dbe03; } }

@keyframes background-animation {
  0% {
    background-color: #7dbe03; }
  5% {
    background-color: #555eca; }
  25% {
    background-color: #555eca; }
  30% {
    background-color: #a45807; }
  50% {
    background-color: #a45807; }
  55% {
    background-color: #bb767e; }
  75% {
    background-color: #bb767e; }
  80% {
    background-color: #7dbe03; }
  100% {
    background-color: #7dbe03; } }

@keyframes text-animation {
  0% {
    color: #7dbe03; }
  5% {
    color: #555eca; }
  25% {
    color: #555eca; }
  30% {
    color: #a45807; }
  50% {
    color: #a45807; }
  55% {
    color: #bb767e; }
  75% {
    color: #bb767e; }
  80% {
    color: #7dbe03; }
  100% {
    color: #7dbe03; } }

*, *:link, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

body {
  box-sizing: border-box; }

.heading--secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
  transition: all .2s;
  animation-name: text-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite; }

*:hover > .heading--secondary {
  transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading--tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem;
  text-align-last: center; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph--sub {
    font-size: 1.5rem; }

.u-abstract-flex-container {
  display: flex; }

.u-center-text {
  text-align: center; }

.u-overflow {
  overflow: hidden; }

.header {
  animation-name: header-animate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  text-align: center;
  background-image: url("../img/Materials/Material 1.jpg");
  background-size: cover;
  background-position-y: 5%;
  height: 90vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  position: relative; }
  .header__logo--box {
    position: absolute; }
  .header__logo--icon {
    width: 8rem; }
  .header__body {
    height: 100%;
    display: flex;
    align-items: initial; }
    .header__body > *:not(:first-child) {
      flex-basis: 50%; }
    .header__body > *:first-child {
      flex-basis: 50%; }
    .header__body--left {
      height: 100%; }
    .header__body--textbox {
      padding-top: 10%;
      align-items: center;
      background: rgba(255, 255, 255, 0.8); }
  .header__text--main {
    padding: 0 20%;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 7rem; }
  .header__text--sub {
    font-size: 1.5rem;
    padding: 0 10%;
    text-align: justify;
    text-align-last: center;
    width: 100%;
    margin-bottom: 7rem; }
  .header__text--btn {
    background-color: #577315; }

.btn {
  background-color: white;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  font-size: 2.5rem;
  padding: 1.2rem 3rem;
  border-radius: 1000px;
  font-weight: 400;
  color: #777;
  transition: transform .4s; }
  .btn:link {
    text-decoration: none; }
  .btn::after {
    content: "";
    background-color: inherit;
    z-index: 2;
    transition: transform .4s, opacity .4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 100px; }
  .btn:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-0.5rem); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.8);
      opacity: 0; }
  .btn--header {
    color: white;
    animation-name: background-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite; }

.categories__grid {
  display: flex;
  justify-content: space-evenly; }

.categories__item {
  margin-top: 5%;
  flex-basis: 20%;
  border-radius: 3px; }
  .categories__item:hover .categories__item--img {
    transform: rotateY(-180deg); }
  .categories__item:hover .categories__item--back {
    transform: rotateY(0); }
  .categories__item:hover figcaption {
    transform: translateY(-5rem); }
  .categories__item--back {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    backface-visibility: hidden;
    transition: transform 1s;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    color: white;
    background-color: #7a4444; }
  .categories__item--imgcontainer {
    z-index: 1;
    perspective: 1500px;
    position: relative; }
  .categories__item.item--1 {
    color: #f09461; }
    .categories__item.item--1 .categories__item--back {
      background-image: linear-gradient(to bottom right, #f09461, #e08a59); }
    .categories__item.item--1 .btn {
      color: #f09461; }
  .categories__item.item--2 {
    color: #6dffff; }
    .categories__item.item--2 .categories__item--back {
      background-image: linear-gradient(to bottom right, #6dffff, #66eced); }
    .categories__item.item--2 .btn {
      color: #6dffff; }
  .categories__item.item--3 {
    color: #feb800; }
    .categories__item.item--3 .categories__item--back {
      background-image: linear-gradient(to bottom right, #feb800, #fe8f01); }
    .categories__item.item--3 .btn {
      color: #feb800; }
  .categories__item.item--4 {
    color: #f3b0d1; }
    .categories__item.item--4 .categories__item--back {
      background-image: linear-gradient(to bottom right, #f3b0d1, #d398b4); }
    .categories__item.item--4 .btn {
      color: #f3b0d1; }
  .categories__item--img {
    transition: transform 1s;
    object-fit: cover;
    display: block;
    width: 100%; }
  .categories__item figcaption {
    transition: transform .5s .2s;
    padding: 7%;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: -1; }

/* Slideshow container */
/* Hide the images by default */
.content__quotesbox {
  height: 100%;
  display: flex;
  transform: skewY(7deg);
  justify-content: space-evenly;
  flex-direction: row; }

.content__quote {
  transition: all .4s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  flex-basis: 25%; }
  .content__quote--text {
    animation: text-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition: transform .4s; }
  .content__quote--main {
    margin-top: 50%;
    margin-bottom: 10%; }
  .content__quote--sub {
    font-weight: 700;
    opacity: 0;
    transition: transform .4s;
    transform: translateY(-100%); }
  .content__quote--background {
    transition: all .4s;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("../img/Blog Headers/3.jpg");
    background-size: 130%;
    background-position: center; }
  .content__quote:hover {
    box-shadow: 0.5rem 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1); }
    .content__quote:hover .content__quote--text {
      transform: translateY(-20%); }
    .content__quote:hover .content__quote--sub {
      opacity: 1;
      transform: translateY(0); }
    .content__quote:hover .content__quote--background {
      background-size: 110%;
      filter: blur(2px) grayscale(50%) contrast(75%) brightness(0.75); }

.content__box {
  height: 80vh;
  transform: skewY(-7deg);
  color: white;
  animation-name: background-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  margin: 5rem 0;
  padding: 10rem 5rem;
  position: relative; }

.content__buttons {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  transform: skewY(7deg); }

/* Next & previous buttons */
/* Position the "next button" to the right */
/* Caption text */
.content__date {
  margin-top: 10%;
  display: block;
  font-weight: 700;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  text-align: center; }

/* Number text (1/3 etc) */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.navbar {
  display: flex;
  justify-content: space-between; }
  .navbar__group {
    justify-content: space-between;
    display: flex; }

.categories {
  padding: 20rem 0;
  padding-bottom: 25rem;
  margin-top: -20rem;
  background: #f1f1f1; }

.styleBlog {
  margin-top: -40rem;
  padding: 20rem 0; }
